/* MAIL ui CSS */
    .ui_windowMailMail {
    box-shadow: 1px 1px black, -1px -1px #dddddd;
    border: 1px solid #ffffff;
    border-bottom-color: #828282;
    border-right-color: #828282;
    position: absolute;
    top: 50px;
    left: 100px;
    min-width: 40vmin;
    min-height: 40vmin;
    max-width: 40vmax;
    max-height: 40vmax;
    display: none;
    background-color: #cccccc;
}

.ui_topbarMail {
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    box-sizing: border-box;
    width: 100%;
    background-color: #000082;
    padding: 1px;
    height: 18px;
    vertical-align: super;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui_windowcontentMail {
    padding: 1px;
}

.sendrowMail {
    width: 100%;
    height: 52px;
    margin-left: 5px;
}

.sendMailMail {
    font-size: 13px;
    background-color: #c9c9c9;
    width: 48px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-top: solid 1px #81807e;
    border-left: solid 1px #81807e;
    box-shadow: inset -1px -1px #81807e, inset 1px 1px white;
}

.emailfieldMail {
    margin-left: 5px;
    font-size: 12px;
}

.afieldMail {
    display: inline-block;
    width: 31px;
}

.abookMail {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMBAMAAABPbPrXAAAAGFBMV…nVVUsNDrWSfvBYCZ2sTMjKu8KEsxdbUbittDOtFWjA6s4/RcMK74POnccAAAAASUVORK5CYII=);
    width: 15px;
    height: 12px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline;
}


.emailInputMail{
    width: 87%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 14px;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    box-shadow: inset -1px -1px #c5c5c5, inset 1px 1px #7e7f81;
    resize: none;
}

#message
{
    width: 87%;
    height: 20vmin;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 14px;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    box-shadow: inset -1px -1px #c5c5c5, inset 1px 1px #7e7f81;
    resize: none;
}

@media (max-width: 500px){
    /* MAIL ui CSS */
    .ui_windowMailMail {
        box-shadow: 1px 1px black, -1px -1px #dddddd;
        border: 1px solid #ffffff;
        border-bottom-color: #828282;
        border-right-color: #828282;
        position: absolute;
        top: 50px;
        left: 100px;
        min-width: 40vmin;
        min-height: 40vmin;
        max-width: 40vmax;
        max-height: 40vmax;
        display: none;
        background-color: #cccccc;
    }
    
    .ui_topbarMail {
        font-family: sans-serif;
        font-size: 13px;
        color: white;
        box-sizing: border-box;
        width: 100%;
        background-color: #000082;
        padding: 1px;
        height: 18px;
        vertical-align: super;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .ui_windowcontentMail {
        padding: 1px;
    }
    
    .sendrowMail {
        width: 100%;
        height: 52px;
        margin-left: 5px;
    }
    
    .sendMailMail {
        font-size: 13px;
        background-color: #c9c9c9;
        width: 48px;
        height: 40px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        border-top: solid 1px #81807e;
        border-left: solid 1px #81807e;
        box-shadow: inset -1px -1px #81807e, inset 1px 1px white;
    }
    
    .emailfieldMail {
        margin-left: 5px;
        font-size: 12px;
    }
    
    .afieldMail {
        display: inline-block;
        width: 31px;
    }
    
    .abookMail {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMBAMAAABPbPrXAAAAGFBMV…nVVUsNDrWSfvBYCZ2sTMjKu8KEsxdbUbittDOtFWjA6s4/RcMK74POnccAAAAASUVORK5CYII=);
        width: 15px;
        height: 12px;
        margin-left: 15px;
        margin-right: 5px;
        display: inline;
    }
    
    
    .emailInputMail{
        width: 87%;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 14px;
        border-left: solid 1px black;
        border-top: solid 1px black;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        box-shadow: inset -1px -1px #c5c5c5, inset 1px 1px #7e7f81;
        resize: none;
    }
    
    #message
    {
        width: 87%;
        height: 20vmin;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-right: 14px;
        border-left: solid 1px black;
        border-top: solid 1px black;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        box-shadow: inset -1px -1px #c5c5c5, inset 1px 1px #7e7f81;
        resize: none;
    }
}